body {
    background-color:rgb(140, 120, 242);
}

#main-title{
    font-family: monospace;
    color: rgb(140, 120, 242);
    background-color: rgb(212, 193, 240);
    text-align: center;
    width: fit-content;
    margin: auto;
}

#linkdiv{
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2%;
    gap: 2%;
    color: rgb(140, 120, 242);
    background-color: rgb(212, 193, 240);
    
}

#hyperlink{
    font-family: monospace;
    color: black;
    padding: 4px 4px;
    
}

#hyperlink:hover{
    font-family: monospace;
    color: rgb(103, 110, 0);
    background-color: rgb(224, 224, 242);
    padding: 4px 4px;
       
}

#project-div{

    display: flex;
    margin-top: 2%;
    font-family: monospace;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(140, 120, 242);
    background-color: rgb(212, 193, 240);
    width: fit-content;

}

#subproject-div{
    display: flex;
    flex-direction: column;
    width: fit-content;

}