body {
    background-color:rgb(140, 120, 242);
    margin: 0px;
}

#main-title {
    font-family: monospace;
    font-size: 80px;
    color: rgb(140, 120, 242);
    background-color: rgb(212, 193, 240);
    text-align: center;
    padding: 1%;
    margin: auto;
    width: fit-content;
    
}

#paragraph-text {
    font-family: monospace;
    color: rgb(140, 120, 242);
    background-color: rgb(212, 193, 240);
    text-align: center;
    padding: 0.2%;
    margin: auto;
    width: fit-content;
    
}

#hyperlink {
    font-family: monospace;
    font-size: xx-large;
    color: rgb(140, 120, 242);
    background-color: rgb(212, 193, 240);
    padding:  0.2%;
    display: block;
    text-align: center;
    margin: auto;
    width: fit-content;
}

#hyperlink:hover {
    font-family: monospace;
    color: rgb(140, 120, 242);
    background-color: rgb(224, 224, 242);
    padding:  0.2%;
    display: block;
    text-align: center;
    margin: 0;
    width: auto;
}

#header{
    font-family: monospace;
    color: rgb(140, 120, 242);
    background-color: rgb(212, 193, 240);
    text-align: center;
    padding: 1%;
    margin: auto;
    width: fit-content;
}

#header:hover{
    background-color: rgb(224, 224, 242);
    margin: 0;
    width: auto;
}

#divtest{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4px;
}

